body {
  font-family: 'DM Sans', sans-serif;
  margin: 20px;
  display: flex;
  flex-direction: column; /* Adjust layout for mobile */
  color: #223548;
}

@media (min-width: 768px) {
  body {
    flex-direction: row; /* Adjust layout for larger screens */
  }
}

h2{
    margin-left: 20px;
}

input, button, .day-no, .trip-dates, .day-of-week{
  font-family: 'DM Sans', sans-serif;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  background-color: #f5f6f7;
}

.trip-dates{
    background-color: #0070F2;
    color: white;
}

.day-of-week{
    background-color: rgb(41, 41, 41);
    color: white;
}

.planner-container {
  flex: 1;
  margin-bottom: 20px; /* Adjust margin for mobile */
}

@media (min-width: 768px) {
  .planner-container {
    margin-right: 20px; /* Adjust margin for larger screens */
    margin-bottom: 0;
  }
}

.day-container {
  border: 1px solid #f5f6f7;
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 5px;
  position: relative;
}

.day-container.active {
    box-shadow: 
    -10px -10px 15px rgba(255,255,255,0.05),
    10px 10px 15px rgba(70,70,70,0.12);
}

.day-number {
  width: 50px;
}

.day-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.trash-icon {
  font-size: 15px;
}

.trash-icon:hover::after,
.delete-location:hover::after,
.plus-button:hover::after,
.move-button:hover::after {
  content: attr(data-hover);
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
  background: #000;
  color: #fff;
  padding: 2px 5px;
  border-radius: 3px;
  font-size: 12px;
  white-space: nowrap;
}

.location-row {
  display: flex;
  align-items: center;
  margin-top: 5px;
  position: relative;
}

.location-row input {
  margin-right: 10px;
}

.delete-location {
  cursor: pointer;
  color: red;
  font-size: 18px;
  margin-left: 10px;
}

.add-location {
  margin-top: 10px;
}

.add-day {
  margin-top: 20px;
  background-color: #0070F2;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
}

.canvas-container {
  flex: 1;
  border: 1px solid #f5f6f7;
  padding: 10px;
  border-radius: 5px;
  overflow-y: auto;
  height: auto; /* Adjust height to auto */
  background-color: #f7f7f7; /* Set background color to gray */
}

.timeline ul {
  list-style: none;
  padding: 0;
  position: relative;
}

.timeline ul > li {
  margin-bottom: 20px;
  position: relative;
}

.timeline ul > li.day-separator {
  background: none; /* No background for day separator */
  padding: 0;
  margin-bottom: 10px;
}

.timeline ul > li.day-separator > span {
  font-weight: bold;
  margin-left: 20px;
}

.timeline ul > li.day-content {
  background-color: white; /* Set background color to white for each day's list */
  padding: 10px;
  border-radius: 5px;
}

.timeline ul > li.day-content > ul {
  margin-left: 20px;
}

.timeline ul > li.day-content > ul > li::before,
.timeline ul > li.day-content > ul > li > ul > li::before {
  font-family: 'FontAwesome';
  content: '\f111';
  position: absolute;
  top: 4.5px;
  color: #0070F2;
  background: none;
  font-size: 10px;
  z-index: 1;
}

.timeline ul > li.day-content > ul > li::after,
.timeline ul > li.day-content > ul > li > ul > li::after {
  content: '';
  position: absolute;
  left: 4.5px;
  top: 10px;
  width: 2px;
  height: calc(100% - 10px); /* Adjust height to end at the middle of the last bullet */
  background: #0070F2;
  z-index: 0;
}

.timeline ul > li.day-content > ul > li:last-child::after,
.timeline ul > li.day-content > ul > li > ul > li:last-child::after {
  height: 0; /* Ensure no line is drawn if it's the only bullet */
}

.timeline ul > li.day-content > ul > li > ul > li::after {
  content: '';
  position: absolute;
  left: -5px;
  top: 7.75px;
  width: 2px;
  height: calc(100% - 7.75px); /* Adjust height to end at the middle of the last bullet */
  background: #0070F2;
  z-index: 0;
}

.timeline ul > li.day-content > ul > li > ul > li:last-child::after {
  height: 0; /* Ensure no line is drawn if it's the only bullet */
}

.timeline ul > li.day-content > ul > li > span {
  display: block;
  margin-left: 20px;
  font-weight: bold;
}

.timeline ul > li.day-content > ul > li > ul {
  margin-left: 30px;
  position: relative;
}

.timeline ul > li.day-content > ul > li > ul > li {
  position: relative;
  margin-bottom: 10px;
}

.timeline ul > li.day-content > ul > li > ul > li::before {
  font-family: 'FontAwesome';
    content: '\f111';
  position: absolute;
  left: -10px;
  top: 5.75px;
  z-index: 1;
  font-size: 1.2vh;
}

/* .day-separator {
  border-top: 1px solid #f5f6f7;
  margin: 10px 0;
  padding-top: 10px;
} */

.download-button {
  background-color: #0070F2;
  color: white;
  display: flex;
  align-items: center;
}

.download-button i {
  margin-right: 5px;
}

.itinerary-info {
  color: gray;
  opacity: 0.7;
  margin-left: 20px;
  margin-bottom: 10px;
}

.fas{
  cursor: pointer;
  font-size: 12px;
}

.plus-button {
  cursor: pointer;
  font-size: 18px;
  margin-left: 10px;
}

.menu {
  position: absolute;
  right: 0;
  top: 100%;
  background: white;
  border: 1px solid #f5f6f7;
  border-radius: 5px;
  display: none;
  z-index: 1000;
}

.menu button {
  display: block;
  width: 100%;
  padding: 5px 10px;
  border: none;
  background: none;
  cursor: pointer;
  text-align: left;
}

.menu button:hover {
  background: #f0f0f0;
}

.past-item {
  color: gray;
}

.past-item::before {
  background: gray;
}

.past-item::after {
  background: gray;
}

.move-button {
  cursor: pointer;
  font-size: 18px;
  margin-left: 10px;
}

.control-buttons {
  display: flex;
  gap: 10px;
}

.control-buttons button {
  background-color: #0070F2;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

.move-day-button {
  cursor: pointer;
  font-size: 18px;
  margin-left: 10px;
}

.day-header .move-day-button {
  margin-left: 0;
}

.download-menu {
  position: absolute;
  right: 0;
  top: 100%;
  background: white;
  border: 1px solid #f5f6f7;
  border-radius: 5px;
  display: none;
  z-index: 1000;
}

.download-menu button {
  display: block;
  width: 100%;
  padding: 5px 10px;
  border: none;
  background: none;
  cursor: pointer;
  text-align: left;
}

.download-menu button:hover {
  background: #f0f0f0;
}